<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="Alexey,George,Paolo,Elizabet,Franz,Ivan,Daniela,Ksenia" />
    <add key="City" value="Grodno,New-York,Brazilia,London,Paris,Moscow,Spain,Minsk"/>
    <add key="Tarrif" value="Cheap,Middle,Expensive,Cheap,Cheap,Middle,Middle,Cheap"/>
    <add key="conversationsCount" value="100"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>