@{
    ViewBag.Title = "Data Bases";
}

@*<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-md-2">
            <p><a href=@Url.Action("Index", "Manager") class="btn btn-primary btn-large">Managers &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <p><a href=@Url.Action("Index", "Good") class="btn btn-primary btn-large">Goods &raquo;</a></p>
        </div>
        <div class="col-md-2">
            <p><a href=@Url.Action("Index", "Stock") class="btn btn-primary btn-large">Stocks &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>*@